.portfolio-page {
  padding-left: 100px;
  padding-right: 50px;
  width: calc(100% - 150%);
  position: initial;
  height: 100%;
  overflow: auto;

  h1.page-title {
    margin-left: 100px;
    margin-top: 100px;
  }

  h2.portfolio-page {
    font-family: 'Helvetica Neue';
    color: #ffd700;
    font-size: 20px;
    position: absolute;
    margin-top: 18px;
    margin-bottom: 20px;
    animation: fadeIn 1s 1.7s backwards;
    opacity: 0.6;
  }
}
